# .env.example — энэ файлыг .env болгож хуулаад өөрийн Firebase config оруулна уу
# .env файлыг ХЭЗЭЭ Ч git-д commit хийж болохгүй!

REACT_APP_FIREBASE_API_KEY= "AIzaSyARzYDbMwN7cWINJE3KjBKNc58-CRoLVoM"
REACT_APP_FIREBASE_AUTH_DOMAIN="saytan-mng.firebaseapp.com"
REACT_APP_FIREBASE_PROJECT_ID="saytan-mng"
REACT_APP_FIREBASE_STORAGE_BUCKET="saytan-mng.firebasestorage.app"
REACT_APP_FIREBASE_MESSAGING_SENDER_ID="781797277787"
REACT_APP_FIREBASE_APP_ID="1:781797277787:web:35406f797cacbb708bff7e"

# Admin имэйл — энэ имэйлтэй хэрэглэгч автоматаар ADMIN эрхтэй болно
REACT_APP_ADMIN_EMAIL=admin@mng.mn




